@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  /* overflow-x: hidden; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff;
  width: 100%;
  /* overflow-x: hidden; */
  /* font-family: sans-serif; */
}

* {
  box-sizing: border-box;
}

a,
button,
p,
ul,
li,
h1,
h2,
input {
  font-family: sans-serif;
}

.insta-bg {
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  /* optional rounded corners */
  background: #2e2e2e;
  transition: background 0.3s ease;
}

.insta-bg:hover {
  background: linear-gradient(45deg, #f58529, #f97380, #dd2a7b, #8a3ab9, #5b51d8);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-105%);
  }
}

.first-bg,
.second-bg {
  /* background-image: url('/self-publish-page-bg1.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-attachment: fixed;
  /* MAGIC */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

@media (min-width: 1025px) {

  .first-bg {
    background-size: contain;
    background-repeat: repeat;
    background-position: 0% 14%;
  }

  .second-bg {
    background-position: 0 14%;
  }

}

.content {
  /* background: rgba(255, 255, 255, 0.8);
  padding: 2rem 3rem;
  border-radius: 12px;
  backdrop-filter: blur(50px); */
}

.activeSectionLink {
  height: auto;
  font-weight: bold;
  color: #3a7c92;
  padding-left: 10px;
  border-left: #ffc20d 5px solid;
  margin-left: 15px;
  padding-left: 4px;
}

.blueBullets {
  list-style: disc;
  padding-left: 20px;
}

.blueBullets li::marker {
  color: #4e9eb8;
  /* <-- this uses the CSS variable */
}

.btnYellow {
  background-color: #febe10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnYellow:hover {
  background-color: #f3b200;
}

.curator-image{
  background-image: url("/powered-by-curator.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.curator-image:hover{
  /* background-image: none; */}