@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  /* font-family: sans-serif; */
}

a,
button,
h1,
h2,
input{
  font-family: sans-serif;
}

.insta-bg {
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  /* optional rounded corners */
  background: #2e2e2e;
  transition: background 0.3s ease;
}

.insta-bg:hover {
  background: linear-gradient(45deg, #f58529, #f97380, #dd2a7b, #8a3ab9, #5b51d8);
}
@keyframes scroll {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-105%);
  } 
}

.parallax-bg {
  height: 60vh;
  background-image: url('/self-publish-page-bg1.jpg');
  background-size: contain;
  background-position: 0 15%;
  background-attachment: fixed;
  /* MAGIC */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.content {
  /* background: rgba(255, 255, 255, 0.8);
  padding: 2rem 3rem;
  border-radius: 12px;
  backdrop-filter: blur(50px); */
}